*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    display: flex;
    background: #362e26;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    position: fixed;
    overflow: hidden;
    z-index: 999;
}

.main{
    width: 100%;
    position: relative;
    top: 50px;
}

.header .menu1 ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.section1{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(./assets/sec1.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: bottom;
    color: #fff;
}

.section1 h1{
    font-size: 172px;
    font-family: 'Cookie', cursive;
    font-style: italic;
    font-weight: 200;
}

.section1 h4{
    text-transform: uppercase;
    font-size: 25px;
}

.section1 svg path {
    fill: #fff;
}

.section2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    height: 70vh;
    background: linear-gradient(rgba(250, 118, 164, 0.868), rgba(250, 118, 164, 0.868)),
    url(./assets/sec2.png);
    color: #fff;
}

.section2 .left2{
    font-size: 28px;
    max-width: 100%;
    text-align: center;
    text-transform: uppercase;
    width: 250px;
}

.section2 .right2{
    width: 580px;
    max-width: 100%;
}

.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #362e26;
    text-align: center;
}

.section3 h4{
    font-size: 28px;
    text-transform: uppercase;
}

.section3 .img3{
    display: flex;
    gap: 5vw;
}

.section4{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5vh 5vw 5vh 5vw;
    background: linear-gradient(rgba(109, 223, 255, 0.868), rgba(109, 223, 255, 0.868)),
    url(#);
    color: #fff;
    background-size: cover;
}

.section4 .text4{
    width: 430px;
}

.section5{
    display: flex;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.section5 img{
    width: 40%;
}

.footer{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #362e26;
    position: absolute;
    color: #fff;
    gap: 10vw;
}

.footer .leftfooter{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5vh;
}

.footer .leftfooter h4{
    text-transform: uppercase;
    font-size: 28px;
    width: 200px;
}

.footer .leftfooter .social-media{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    list-style-type: none;
    font-size: 20px;
}

.footer .rightfooter form{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 500px;
    gap: 2vh;
}

.footer .rightfooter form input, textarea{
    background: #4d4740;
    border: 0ch;
    color: #fff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.282);
}

.footer .rightfooter form #submit{
    width: 90px;
    height: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer .rightfooter form #submit:hover{
    background: #ccbbff;
    text-shadow: none;
}